.nav-item{
    padding: 30px 40px;
}
.navbar-brand img{
    width: 198.07px;
    height: 59px;
}
.sign{
    background-color: #21B573;
    border-radius: 33px;
    color:white;
    padding: 10px 10px 10px 10px;
}
.button{
    background-color: #21B573;
    color: white;
    border-radius: 33px;
    border: none;
    padding: 10px 20px 10px 20px;
    font-weight: 400;

}
.top{
    background-color: #F0FFF0;
    min-width: 1440px;
    
}
.image1{
    height:auto;
    width:322px;
}
.ready{
    color:#FD511A;

}
h1{
    font-size: 60px;
}
.banner{
    margin-left: 80px;
    margin-top: 40px;
}
p{
    color: gray;
}
.container{
    padding-bottom: 40px;
}
.col-md-7{
    padding-left: 70px;
}
.any_schedule{
    color:#21B573
}
.col-md-3 img{
    width:77px;
    height: 85px;
    
}
.cat{
    background-color: #F8FFFB;
    box-shadow: 10px 20px 30px lightgray;
    border-radius: 10px;
    width:270px;
    height: 270px;
    padding-top: 40px;
    margin-top: 60px;
}
.catb{
    margin-top: 30px;
}
.adj{
    margin-left: 80px;
}
.card{
    height: 483px;
    width: 370px;
    border-radius: 18px;
    margin-left: 50px;
    border: none;
    box-shadow: 15px 15px 30px lightgray;
}
.card img{
    height:234px ;
    width: 331px;
}
.ig{
    margin-top: 20px;
}
.card-title{
    color:#413960;
    font-weight: 600;
    font-size: 30px;
}
.card-text{
    font-weight: 400;
    font-size: 20px;
    color: #585859;
}
.calendar img{
    height: 24px;
    width: 24px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.seats{
    margin-right: 30px;
}
.calendar p{
    color:#585859;
    font-weight: 600;
font-size: 16px;
}
.online{
    color: #413960;
    font-weight: 800;
    font-size: 45px;
    margin: 60px 0px 50px 0px;
}
.col-md-4 img{
    height: 120px;
    width: 120px;
}
.test{
    margin: 100px 180px 0px 200px;
}
.testi{
    color:black !important;
    font-weight: 600;
    font-size: 20px;
}
.col-md-4{
    padding-left: 40px;
}
.bottom{
    background-color: #282531;
    width: 1520px;
}
.col-md-5{
    margin-top: 20px;
}
.wht{
    color:#FFFFFF;
}
.nkb{
    padding-top:60px;
    margin-bottom: 100px;
}
.foot{
    padding-bottom: 30px;
}